button {
    height: 40px;
    width: 40px;
    border:1px solid black;
}
.calculator {
    display:inline-block;
}
.screen {
    border: 1px solid black;
    height:80px;
    width:99%;
}
.zero {
    width: 80px;
}
